<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a recent graduate with a Bachelor's Degree of Science in Computer Science from
	    the University of Wisconsin-Stout. 
	    I also have a Minor in Mathematics.
        </p>
        <p>
           I am very passionate about technology and programming.
           While hard engineering problems are fun and thought provoking,
           I also enjoy designing the overall look and feel of an application so that 
	   the user can enjoy said application. I'm looking for a junior or entry-level software developer position
	   where I can learn the ropes of working in the industry and also further improve upon the skills acquired
	   in my college career.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Graduated with a 3.4 GPA while also working two jobs throughout college.
    			</li>
          <li>
            Have knowledge of multiple programming languages such as Java, C++, JavaScript, Python, SQL, and HTML 
            while also applying this knowledge through numerous projects.
          <li>
            Self-starter and always looking to expand my knowledge and learn new programming languages and applications.
		    </ul>
	    </div>
    </div>
  </div>
</section>
