<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a Junior in the Computer Science program looking to acquire my 
	    first Bachelor's Degree of Science at the University of Wisconsin-Stout. 
	    I will also have a Minor in Mathematics once I graduate.
	    I am expected to graduate in December of 2019.
        </p>
        <p>
           I am very passionate about technology and programming.
           While hard engineering problems are fun and thought provoking,
           I also enjoy designing the overall look and feel of a software so that 
	   the user can enjoy the software. I'm looking for a junior or entry-level software engineering position
	   where I can learn the ropes of working in the industry and also further improve upon the skills acquired
	   in my college career.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Maintained above a 3.0 GPA while also working two jobs throughout college.
    			</li>
          <li>
            Have knowledge of multiple programming languages such as Java, C++, SQL, and HTML 
            while also applying this knowledge through numerous projects.
          <li>
            Self-starter and always looking to expand my knowledge and learn new programming languages and applications.
		    </ul>
	    </div>
    </div>
  </div>
</section>
