<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 Mobile Development. Mobile devices have begun to take the world by storm, and as such it has never been a better time to get into Mobile Development. I throroughly enjoy developing Android applications and look to learn Kotlin and Swift for IOS.
			  </li>
			  <li>
				  Basketball and Weightlifting. In my time not spent in front of a computer, I love to play Basketball and lift weights in the gym.
			  </li>
			  <li>
				  Hiking. I like to stay active and nothing beats a Hike in the woods. I love looking for new adventures such as nearby nature trails!
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          <b>Photo Gallery.</b>Created a Photo Gallery application on Android. This application will take the photos stored on the device and 
	  display them in a grid with an option to also view the image in its full size. This application also supports the ability to take a
	  photo view it in the app.
    		</li>
  			<li>
          <b>Carbon Affect.</b>Carbon Affect is a prototype social media platform akin to other platforms such as Pinterest or Tumblr. 
	  This platform allows for user's to upload visual media such as gifs or images and also allows users to like and comment on posts made by other users.
  			</li>
			<li>
	  <b>Linux Shell</b>Created a basic shell in Linux that supported functions such as viewing the current directory, compiling and running multiple programs in succession, 
	  and viewing a history of the previous commands as a few examples.
  		    </ul>
      </div>
    </div>
  </div>
</section>
