<section class="tout" id="interests">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Interests</h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          My personal interests include:
        </p>
        <ul>
          <li>
            Mobile Development. Mobile devices have begun to take the world by
            storm, and as such it has never been a better time to get into
            Mobile Development. I throroughly enjoy developing Android
            applications and look to learn Kotlin and Swift for IOS.
          </li>
          <li>
            Basketball and Weightlifting. In my time not spent in front of a
            computer, I love to play Basketball and lift weights in the gym.
          </li>
          <li>
            Hiking. I like to stay active and nothing beats a hike in the woods.
            I love looking for new adventures such as nearby nature trails!
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h3 style="margin-top:0">Recent Projects</h3>
        <ul>
          <li>
            <b>HotSpot:</b>HotSpot is a social media app that allows users to
            take photos and upload them from their location. Once the photo has
            been uploaded, other users can view the photo whenever they are near
            the location that the photo was originally uploaded from.
          </li>
          <li>
            <b>Carbon Affect:</b>Carbon Affect is a prototype social media
            platform akin to other platforms such as Pinterest or Tumblr. This
            platform allows for user's to upload visual media such as gifs or
            images and also allows users to like and comment on posts made by
            other users.
          </li>
          <li>
            <b>Movie Database with Angular:</b>Created a database that contains
            all the movies that have won Academy awards since 1920. Users can
            select a movie within the database to view that movie's details in
            full. This project was created through Angular as way to gain a
            basic understanding of the framework.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
